<div class="row">
    <aside class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><%= @user.name %></h3>
            </div>
            <div class="panel-body">
                <img class="media-object img-rounded img-responsive" src="<%= gravatar_url(@user, {size: 100}) %>" alt="">
            </div>
        </div>
    </aside>
    <div class="col-sm-8">
        <ul class="nav nav-tabs nav-justified">
            <p>ユーザProfile情報表示</p>
          <li class="<%= 'active' if current_page?(user_path(@user)) %>"></li>
        </ul>
    </div>
</div>